body {
    font-family: Arial, Helvetica, sans-serif;
}
.w-50 {
    min-width: 60%;
}
.w-25 {
    min-width: 40%;
}
.table_custom {
    border: solid 2px #999;
    border-radius: 25px;
    padding-top: 10px;
}
.table th {
    border: none!important;
}
.row {
    margin-top: 20px;
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.search {
    padding-left: 40px!important;
}
.mx-auto {
    display: flex;
    justify-content: center;
}
.block_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.block_login input {
    width: 200px;
    padding-left: 10px;
    height: 25px;
    border: 2px solid #999;
    border-radius: 25px;
    margin-top: 10px;
}
.block_login h1 {
    text-align: center;
}
input {
    outline: none;
    cursor: pointer;
}
.block_login form {
    text-align: center;
}
.login_btn {
    background-color: #fff;
    width: 200px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.8s;
}
.login_btn:hover {
    background-color: #000;
    color: #fff;
}
.align-items-center {
    justify-content: space-between;
}
.px-md-4 {
    padding-left: 2.5rem!important;
}
.nav_custom {
    width: 600px;
}