<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
            integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
            crossorigin="anonymous"></script>
    <script type="application/javascript" src="/static/js/myScripts.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ИС "Книжный магазин"</title>
</head>


<body onload="writeTableForSales()">
<#include "navbar.ftlh"  />

<div class="mx-auto" style="width: 200px">
    <h1>Страница продаж!</h1>
</div>
<div class="mx-auto" style="width: 280px">
    <h2>Для продажи, переместите товар в корзину</h2>
</div>

<div class="col-md-4 col-md-offset-4 table_custom">
    <input class="form-control" type="text" placeholder="Поиск по названию" id="search-text" onkeyup="tableSearch()">
    <table class="table table-hover table-sm" id="bucket">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
            <th scope="col">Цена</th>
            <th scope="col">Кол-во</th>
        </tr>
        </thead>
        <tbody id="bdata">

        </tbody>
    </table>
</div>
<div class="col-md-4 col-md-offset-4 table_custom">
    <table class="table table-hover table-sm" id="cbucket">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>
        <tbody id="cbdata">

        </tbody>
    </table>
    <button type="button" id="sellBooks">Продать</button>
</div>

</body>
</html>